.cardRegister {
  /* background-color: rgba(255, 255, 255, 0.500); */
  background-color: var(--selective-yellow-100);
  margin: 1.5em;
  max-width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 0 1em;
  margin-top: 6em;

  color: black;
  width: 30vw !important;
}

label {
  color: black !important;
  margin: 10px !important;
}

.card-header {
  margin-bottom: 1em;
}

.card-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.card-content {
  padding: 1em;
  border-radius: 8px;
  max-width: 90%;
  margin: auto;
}

label {
  color: var(--selective-yellow-100);
}

input {
  max-width: 90%;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid var(--selective-yellow-200);
  outline: none;
  margin: auto;
}
select {
  border-radius: 0.5em;
  height: 2.5em;
  width: 95%;
  background-color: var(--selective-yellow-100);
  color: black;
}

button {
  margin: 1em;
}

label a:hover {
  color: var(--selective-yellow-950);
}

@media (max-width: 768px) {
  .cardRegister {
    width: 80vw !important;
  }
}
